<html>

<head>
  <link rel=stylesheet type=text/css href="{{url_for('static', filename='style.css')}}">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
</head>

<body>

  <div class="nav-bar">
    <ul>
      <li><a href='{{url_for('gdisconnect')}}'>
          <button class="btn btn-outline-dark">Logout</button>
        </a></li>
      <li><a href='{{url_for('showLogin')}}'>
          <button class="btn btn-outline-dark">Login</button>
        </a></li>
      <li><a href='{{url_for('newActivity')}}'>
        <button class="btn btn-outline-dark">Create New Activity</button>
      </a></li>
    </ul>
  </div>

  <div class="heading">
    <h1>Outdoor Activities</h1>
  </div>

  <div>
    {% with messages = get_flashed_messages() %}
    {% if messages %}

    <ul>
      {% for message in messages %}
      <li> <strong> {{ message }} </strong> </li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
  </div>

  {% for i in activity %}

  <div class="activity-name">
    <p>{{i.name}}</p>
    <a href='{{url_for('outdoorActivityGear', activity_id = i.id)}}' class="view-link badge badge-light">View Gear</a>
    </br>
    <a href='{{url_for('editActivity', activity_id = i.id)}}' class="edit-link badge badge-light">Edit Activity</a>
    </br>
    <a href='{{url_for('deleteActivity', activity_id = i.id)}}' class="delete-link badge badge-light">Delete Activity</a>
  </div>

  {% endfor %}
</body>

</html>
